@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: 'Press Start 2P', cursive;
}

head, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #232323;
  color: white;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
}